div.like{
    background-color: #fff7f7;
    background-position: top center;
    background-size: cover;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: auto;
    border-bottom: 2px solid #E2DCE3;
    padding-top: 10vh;
    padding-bottom: 10vh;
    
}
ul.like{
    display: grid;
    grid-template-columns: repeat(auto-fit,50%);
    grid-template-rows: repeat(2,1fr);
    width: 60%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}

/* Cafe */
div.cafe{
    grid-template-columns: 1fr 1fr;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto; 
    background-color: #E2DCE3;
    height: 80%;
    width: 80%;
    text-align: center;
    list-style: none;
    list-style-type: none;
}
img.cafe{
    width: 100%;
    height: 80%;
    text-align: center;
} 
ul.sabcafe{
    padding: 0px;
    margin: 0px;
    display: grid;
    gap: 1rm;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    grid-template-rows: repeat(6,45%);
    position: absolute;
    list-style: none;
    width: 100%;
    height: 100%
}
div.sabcafe{
    width: 900px;
    height: 550px;
}
img.sabcafe{
    height: 100%;
    width: 100%;
    margin-bottom: 10%;
    padding: 0px; 
    margin: 0px;  
}
#sabcafe{
    width: auto;
    height: auto;
}

/* Cooking */
div.cooking{
    grid-template-columns: 1fr 1fr;
    padding: 0px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto; 
    background-color: #E2DCE3;
    height: 80%;
    width: 80%;
    text-align: center;
    list-style: none;
    list-style-type: none;
}
img.cooking{
    width: 100%;
    height: 80%;
    text-align: center;
} 
ul.sabcooking{
    padding: 0px;
    margin: 0px;
    display: grid;
    gap: 1rm;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    grid-template-rows: repeat(6,45%);
    position: absolute;
    list-style: none;
    width: 100%;
    height: 100%;
}
div.sabcooking{
    width: 900px;
    height: 550px;
}
img.sabcooking{
    height: 100%;
    width: 100%;
    margin-bottom: 10%;
    padding: 0px
}
#sabcooking{
    width: auto;
    height: auto;
}


/* Izakaya */
div.izakaya{
    grid-template-columns: 1fr 1fr;
    padding: 0px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto; 
    background-color: #E2DCE3;
    height: 80%;
    width: 80%;
    text-align: center;
    list-style: none;
    list-style-type: none;
}
img.izakaya{
    width: 100%;
    height: 80%;
    text-align: center;
} 
ul.sabizakaya{
    padding: 0px;
    margin: 0px;
    display: grid;
    gap: 1rm;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    grid-template-rows: repeat(6,45%);
    position: absolute;
    list-style: none;
    width: 100%;
    height: 100%;
}
div.sabizakaya{
    width: 900px;
    height: 550px;
}
img.sabizakaya{
    height: 100%;
    width: 100%;
    margin-bottom: 10%;
    padding: 0px
}
#sabizakaya{
    width: auto;
    height: auto;
}

/* Live */
div.live{
    grid-template-columns: 1fr 1fr;
    padding: 0px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto; 
    background-color: #E2DCE3;
    height: 80%;
    width: 80%;
    text-align: center;
    list-style: none;
    list-style-type: none;
}
img.live{
    width: 100%;
    height: 80%;
    text-align: center;
} 
ul.sablive{
    padding: 0px;
    margin: 0px;
    display: grid;
    gap: 1rm;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    grid-template-rows: repeat(6,45%);
    position: absolute;
    list-style: none;
    width: 100%;
    height: 100%;
}
div.sablive{
    width: 900px;
    height: 550px;
}
img.sablive{
    height: 100%;
    width: 100%;
    margin-bottom: 10%;
    padding: 0px
}
#sablive{
    width: auto;
    height: auto;
}


@keyframes hover-flash {
    0%{
        opacity: .8;
    }
    100%{

        opacity: 1;
    }
}

h4{
    font-size: small;
    margin: 0px;
    padding: 5%;
    text-align: center;
}
h5{
    font-size: xx-large;
    text-align: left;
    margin-left: 20px;
}
li{
    margin: 0px;
    padding: 0px;
}


*{
    padding: 0px;
    margin: 0px;
}