div.skill{
    background-color: #fff7f7;
    background-position: top center;
    background-size: cover;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: auto;
    border-bottom: 2px solid #E2DCE3;
    padding-top: 20vh;
    padding-bottom: 18vh;
    }
ul.skill{
    list-style-type: square;
    line-height: 100px;
    list-style-position: inside;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 55%;
}


*{
    padding: 0px;
    margin: 0px;
}